// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

$strokeWidth: 4px;
$strokeColor: white;

$timing: 2.6s;
// $easing: ease-in-out;
$easing: cubic-bezier(0.77, 0, 0.175, 1);


* {
  box-sizing: border-box;
}

.scroll-down-dude {
  display: none;
}

.scroll-down-dude:before,
.scroll-down-dude:after {
  content: '';
  width: 12px;
  height: 12px;
  display: block;
  position: relative;

  opacity: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -100px;
  transform: rotate(45deg);
  border-bottom: $strokeWidth solid $strokeColor;
  border-right: $strokeWidth solid $strokeColor;
}

.scroll-down-dude:before {
  animation: down-arrow-before $timing $easing infinite;
}

.scroll-down-dude:after {
  animation: down-arrow-after $timing $easing infinite;
}

@keyframes down-arrow-before {
  50% {
    transform: rotate(45deg) translate(70%, 70%);
  }
  100% {
    transform: rotate(45deg) translate(70%, 70%);
  }
}

@keyframes down-arrow-after {
  50% {
    transform: rotate(45deg) translate(110%, 110%);
    opacity: 0;
  }
  51% {
    transform: rotate(45deg) translate(-130%, -130%);
  }
  100% {
    transform: rotate(45deg) translate(-70%, -70%);
    opacity: 1;
  }
}