// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
  font-family: 'Yantramanav-Black';
  src: url('../fonts/yantramanav/Yantramanav-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/yantramanav/Yantramanav-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/yantramanav/Yantramanav-Black.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/yantramanav/Yantramanav-Black.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/yantramanav/Yantramanav-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/yantramanav/Yantramanav-Black.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Yantramanav-Medium';
  src: url('../fonts/yantramanav/Yantramanav-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/yantramanav/Yantramanav-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/yantramanav/Yantramanav-Medium.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/yantramanav/Yantramanav-Medium.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/yantramanav/Yantramanav-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/yantramanav/Yantramanav-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Yantramanav-Regular';
  src: url('../fonts/yantramanav/Yantramanav-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/yantramanav/Yantramanav-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/yantramanav/Yantramanav-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/yantramanav/Yantramanav-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/yantramanav/Yantramanav-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/yantramanav/Yantramanav-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Yantramanav-Light';
  src: url('../fonts/yantramanav/Yantramanav-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/yantramanav/Yantramanav-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/yantramanav/Yantramanav-Light.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/yantramanav/Yantramanav-Light.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/yantramanav/Yantramanav-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/yantramanav/Yantramanav-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Yantramanav-Bold';
  src: url('../fonts/yantramanav/Yantramanav-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/yantramanav/Yantramanav-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/yantramanav/Yantramanav-Bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/yantramanav/Yantramanav-Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/yantramanav/Yantramanav-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/yantramanav/Yantramanav-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Caveat-Regular';
  src: url('../fonts/caveat/Caveat-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/caveat/Caveat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/caveat/Caveat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/caveat/Caveat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/caveat/Caveat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/caveat/Caveat-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'mns';
  src: url('../fonts/brand/mns.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brand/mns.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/brand/mns.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/brand/mns.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/brand/mns.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/brand/mns.svg#svgFontName') format('svg'); /* Legacy iOS */
}